<!--The content below is only a placeholder and can be replaced.-->
<div class = "headerDiv" style="text-align:center">
  <div class="image">
    <h1></h1>
  </div>
  <div class="image2">
      <h1></h1>
  </div>




  <ul>
    <li><a [routerLink]="['/products']">Home</a></li>
    <li><a [routerLink]="['/new']">Add Product</a></li>
    <li><a [routerLink]="['/sanjose']">Shopping Cart</a></li>
    <li><a [routerLink]="['/sanjose']">Sign In</a></li>
  </ul>
 </div>

<div class="dojos">
  <router-outlet></router-outlet>
</div>



