<div class="wrapper">
    <h3>Inventory Component</h3>

    <div class="search_wrapper">
        <input type="text" placeholder="Search Component">
      </div>
    

    <!-- products -->
  <div class="product">

    <div class="img_div">
      <img src="https://cdn.drawception.com/images/panels/2017/7-11/LEepQkj4nP-10.png" alt="">
    </div>

    <div class='product_name_desc'>
      <span class="product_title">__PRODUCT__NAME__ PLACEHOLDER__!</span>
    </div>

    <div class="price">
      <span class='font_price'>__$_0000__</span><br>
      <button class='add_to_cart_btn'>ADD TO CART</button>
    </div>

  </div>



  <div class="product">
    this is a product placeholder
  </div>

  <div class="product">
    this is a product placeholder
  </div>


</div>
