*{
  outline: 2px dotted red;
}
.wrapper{
  width: 99%;
  height: 90%;
  background-color: olivedrab;
  border: 4px dotted rgb(199, 119, 14);
}


.search_wrapper{
  width: 99%;
  height: 10%;
  background-color: rgb(32, 63, 63);
  border: 1px dotted purple;
}
.wrapper input[type=text] {
  float: left;
  padding: 6px;
  width: 80%;
  height: 15%;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
  margin-right: 16px;
  margin-left: 10px;
  font-size: 17px;
}



/* ==== products div ====== */
div.product{
  outline: 2px dotted rebeccapurple;
  width: 96%;
  height: 150px;
  background-color: lightcyan;
  margin: 20px auto;
  padding: 10px;
}
/* ===== product img div ====== */
  div.img_div{
    display: inline-block;
    vertical-align: top;
    background-color: blueviolet;
    margin-right: 20px;
  }
    img {
      object-fit: cover;
      width: 150px;
      height: 150px;
    }
  /* ===== product name descr div ====== */
  div.product_name_desc{
    display: inline-block;
    vertical-align: top;
    height: 99%;
    width: 60%;
    background-color: darkseagreen;
  }

  /* ====== product price div ===== */
  div.price{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 20%;
    background-color: aquamarine;
  }
    span.font_price{
      font-size: 14pt;
      font-weight: 800;
      text-align: center;
    }



/* img {    
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  } */